*  {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* Motor de búsqueda sin abrir */
.motor-busqueda_container {
  position: fixed;
  top: 85vh;
  width: 100%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  transition: top .7s ease-in-out;
}

.motor-busqueda_container > * {
  width: 100%;
  max-width: 1440px;
}

.motor-busqueda_container .btn-close_container {
  display: none;
  justify-content: flex-end;
  padding: 5px 0;
}

.motor-busqueda_container .btn-close_container .btn-close {
  background-color: unset;
  border: unset;
  cursor: pointer;
}

.motor-busqueda_container .motor-busqueda {
  z-index: 30;
  background-color: white;
  color: black;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 20px;
  display: flex;
}

.motor-busqueda_container .motor-busqueda .busqueda {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_name {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 15px;
  color: #323232;
  border-right: 1px solid rgba(222, 226, 230);
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_name:last-of-type {
  border-right: 0;
}

/* Motor de búsqueda abierto */
.motor-busqueda_container.open {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,.8);
  padding: 50px;
}

.motor-busqueda_container.open .btn-close_container {
  display: flex;
}

.motor-busqueda_container.open .motor-busqueda {
  box-shadow: unset;
  border: 1px solid rgba(222, 226, 230);
}