*  {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #323232;
  color: rgba(255,255,255,1);
}

/* Motor de búsqueda sin abrir */
.motor-busqueda_container {
  position: fixed;
  top: 90vh;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
  transition: top .7s ease-in-out;
}

.motor-busqueda_container > * {
  width: 100%;
  max-width: 1440px;
}

.motor-busqueda_container .btn-close_container {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

.motor-busqueda_container .btn-close_container .btn-close {
  background-color: unset;
  border: unset;
  cursor: pointer;
}

.motor-busqueda_container .motor-busqueda {
  color: black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px;
  display: flex;
  flex-grow: 1;
}

.motor-busqueda_container .motor-busqueda .inputs {
  display: flex;
  flex-grow: 1;
}

.motor-busqueda_container .motor-busqueda .busqueda {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 3;
}

.motor-busqueda_container .motor-busqueda .busqueda:nth-of-type(2),
.motor-busqueda_container .motor-busqueda .busqueda:nth-of-type(3) {
  max-width: 300px;
}


.motor-busqueda_container .motor-busqueda .busqueda:nth-of-type(4) {
  flex-grow: 0;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_input {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border: 1px solid rgba(222, 226, 230);
  background-color: rgba(255,255,255,1);
  border-right: 0;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_input .busqueda_input_name {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 15px;
  color: #323232;
  padding-block: 0;
  padding-inline: 0;
  border: 0;
  outline: 0;
  flex-grow: 1;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown {
  border: 1px solid rgba(222, 226, 230);
  border-top: 0;
  background-color: rgba(255,255,255,1);
  padding: 16px 0;
  max-height: 80vh;
}

.motor-busqueda_container .mensaje-miembro {
  display: block;
  position: absolute;
  top: 115px;
}

.motor-busqueda_container .mensaje-miembro .lopesan-members-message {
  color: #323232;
  font-size: 13px;
  font-weight: 200;
  padding: 0 6px;
}

.motor-busqueda_container .mensaje-miembro .lopesan-members-message .user,
.motor-busqueda_container .mensaje-miembro .lopesan-members-message .membership-discount,
.motor-busqueda_container .mensaje-miembro .lopesan-members-message .lopesan-members {
  font-weight: 600;
}

.motor-busqueda_container .mensaje-miembro .lopesan-members-message .membership {
  color: rgba(91, 126, 150);
}

/* Scroll bar css */
.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown::-webkit-scrollbar-button {
  display: none;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown::-webkit-scrollbar {
  width: 5px;
  border-left: 1px solid rgba(222, 226, 230);
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(242,242,242);
  border-radius: 2px;
  border: 1px solid rgba(222, 226, 230);
}

.motor-busqueda_container .motor-busqueda .motor-busqueda_submit-container {
  padding: 6px;
  border: 1px solid rgba(222, 226, 230);
  background-color: rgba(255,255,255,1);
  border-left: 0;
}

.motor-busqueda_container.open .motor-busqueda .motor-busqueda_submit-container {
  max-height: 58.6px;
}

.motor-busqueda_container .motor-busqueda .motor-busqueda_submit-container .motor-busqueda_submit {
  background-color: #FFAD4F;
  color: rgba(255,255,255,1);
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  border: 0;
  height: 100%;
  padding: 0 22px;
  cursor: pointer;
}

.motor-busqueda_container .motor-busqueda .motor-busqueda_submit-container .motor-busqueda_submit:hover {
  background-color: #ff9114;
}

/* Motor de búsqueda abierto */
.motor-busqueda_container.open {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,1);
  padding: 20px;
}

.motor-busqueda_container.open .motor-busqueda {
  box-shadow: unset;
}

/* Dropdown de destinos y hoteles */
.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.hoteles-destinos {
  overflow-y: auto;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.hoteles-destinos .input_filtro {
  padding: 0 8px;
  margin-bottom: 10px;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.hoteles-destinos .input_filtro .input_filtro_texto,
.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.hoteles-destinos .input_filtro .input_filtro_texto:focus-visible {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid rgba(222, 226, 230);
  border-radius: 0;
  outline: unset;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.hoteles-destinos .input_filtro .input_filtro_buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 6px;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.hoteles-destinos .input_filtro .input_filtro_buttons button {
  text-transform: uppercase;
  background-color: rgba(222, 226, 230);
  color: #323232;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  flex-grow: 1;
  border: 0;
  padding: 10px 0;
  cursor: pointer;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.hoteles-destinos .input_filtro .input_filtro_buttons button:hover {
  background-color: rgb(194, 198, 200);
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-destinos {
  margin: 0 0 12px 0;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-destinos h2.destino {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #323232;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  padding: 0 8px;
  border-right: 0;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-destinos h3.ubicacion {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(91, 126, 150);
  text-transform: uppercase;
  margin: 0 0 5px 0;
  padding: 0 8px;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-destinos .hoteles-list {
  margin: 0 0 12px 0;
  padding: 0;
  list-style: none;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-destinos .hoteles-list li.hotel {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #323232;
  padding: 0 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-destinos .hoteles-list li.hotel.no-hotel {
  color: #B6B6B6;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-destinos .hoteles-list li.hotel:hover {
  background-color: rgba(242,242,242);
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-destinos .hoteles-list li.hotel.no-hotel:hover {
  background-color: unset;
  cursor: default;
}

/* Dropdown calendario */
.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.calendar {
  position: relative;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-calendar {
  position: absolute;
  top: 0;
  background-color: rgba(255,255,255,1);
  width: 712px;
  transform: translateX(-25%);
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-calendar .calendar-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  font-size: 14px;
  border: 1px solid rgba(222, 226, 230);
  border-top: 0;
}

/* Componente de date range picker React date range */
.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-calendar .calendar-body .rdrDefinedRangesWrapper,
.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-calendar .calendar-body .rdrDateRangeWrapper .rdrDateDisplayWrapper {
  display: none;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-calendar .calendar-body .rdrDateRangeWrapper .rdrMonthAndYearWrapper {
  padding-top: unset;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-calendar .calendar-body .rdrDateRangeWrapper .rdrDayNumber {
  top: 0;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-calendar .calendar-body .rdrDateRangeWrapper .rdrDayToday .rdrDayNumber span:after {
  bottom: 1px;
}

/* Dropdown ocupacion */
.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion {
  padding: 0;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion .habitacion {
  padding: 10px;
  border-top: 1px solid rgba(222, 226, 230);
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion .habitacion:first-of-type {
  border-top: 0;
}
.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion .habitacion .habitacion_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion .habitacion .habitacion_header .titulo {
  display: flex;
  align-items: center;
  gap: 12px;
  text-transform: uppercase;
  padding: 0;
  color: #323232;
  font-size: 15px;
  font-weight: 200;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion .habitacion .habitacion_header button.container-icono-desplegar {
  background-color: unset;
  border: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion .habitacion .habitacion_header button.container-icono-desplegar div {
  background-color: #323232;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion .habitacion .habitacion_header button.container-icono-desplegar .vertical {
  width: 1px;
  height: 15px;
  transition: transform .2s ease-in-out;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion .habitacion .habitacion_header button.container-icono-desplegar.open .vertical {
  transform: rotateZ(-90deg);
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion .habitacion .habitacion_header button.container-icono-desplegar .horizontal {
  height: 1px;
  width: 15px;
  transform: translateX(-55%);
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion .habitacion .habitacion_body {
  margin: 12px 0 6px 0;
  padding: 0;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion .habitacion .habitacion_body .selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #474747;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion .habitacion .habitacion_body .selector .contador {
  display: flex;
  align-items: center;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion .habitacion .habitacion_footer {
  margin-bottom: 6px;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion button {
  background-color: unset;
  border: unset;
  cursor: pointer;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion button.disabled {
  cursor: default;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion button.disabled svg > * {
  fill: #b6b6b6;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion button.btn-text {
  color: #b6b6b6;
  padding: 0;
  font-size: 13px;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion button.btn-text.btn-eliminar {
  display: flex;
  align-items: center;
  gap: 6px;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion .ocupacion_footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid rgba(222, 226, 230);
}

@media (max-width: 1200px) {
  .motor-busqueda_container .motor-busqueda,
  .motor-busqueda_container .motor-busqueda .inputs {
    flex-direction: column;
    flex-grow: 0;
  }

  .motor-busqueda_container .motor-busqueda .busqueda .busqueda_input {
    border-right: 1px solid rgba(222, 226, 230);
  }

  .motor-busqueda_container.open .motor-busqueda,
  .motor-busqueda_container.open .motor-busqueda .inputs {
    gap: 24px;
  }

  .motor-busqueda_container .motor-busqueda .busqueda {
    display: none;
  }

  .motor-busqueda_container.open .motor-busqueda .busqueda {
    display: flex;
    max-width: unset;
  }

  .motor-busqueda_container .motor-busqueda .motor-busqueda_submit-container {
    width: 100%;
    padding: 0;
    border: 0;
  }

  .motor-busqueda_container .motor-busqueda .motor-busqueda_submit-container .motor-busqueda_submit {
    width: 100%;
    height: 58.6px;
  }

  .motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-calendar {
    position: relative;
    top: 0;
    background-color: rgba(255,255,255,1);
    width: unset;
    transform: unset;
  }

  .motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown {
    max-height: 45vh;
    overflow: auto;
  }

  .motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.calendar {
    overflow: unset;
    padding: 0;
  }

  .motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-calendar,
  .motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-calendar .calendar-body .rdrDateRangePickerWrapper,
  .motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-calendar .calendar-body .rdrCalendarWrapper,
  .motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-calendar .calendar-body .rdrCalendarWrapper > *,
  .motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-calendar .calendar-body .rdrCalendarWrapper .rdrMonth {
    width: 100%;
  }

  .motor-busqueda_container .mensaje-miembro {
    position: relative;
    top: 0;
  }
}