*  {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #323232;
  color: white;
}

/* Motor de búsqueda sin abrir */
.motor-busqueda_container {
  position: fixed;
  top: 85vh;
  width: 95%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  transition: top .7s ease-in-out;
}

.motor-busqueda_container > * {
  width: 100%;
  max-width: 1440px;
}

.motor-busqueda_container .btn-close_container {
  display: none;
  justify-content: flex-end;
  padding: 5px 0;
}

.motor-busqueda_container .btn-close_container .btn-close {
  background-color: unset;
  border: unset;
  cursor: pointer;
}

.motor-busqueda_container .motor-busqueda {
  color: black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px;
  display: flex;
  flex-grow: 1;
}

.motor-busqueda_container .motor-busqueda .busqueda {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_input {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border: 1px solid rgba(222, 226, 230);
  background-color: white;
  border-right: 0;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_input .busqueda_input_name {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 15px;
  color: #323232;
  padding-block: 0;
  padding-inline: 0;
  border: 0;
  outline: 0;
  flex-grow: 1;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown {
  border: 1px solid rgba(222, 226, 230);
  border-top: 0;
  background-color: white;
  padding: 16px 0;
  max-height: 80vh;
}

/* Scroll bar css */
.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown::-webkit-scrollbar-button {
  display: none;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown::-webkit-scrollbar {
  width: 5px;
  border-left: 1px solid rgba(222, 226, 230);
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(242,242,242);
  border-radius: 2px;
  border: 1px solid rgba(222, 226, 230);
}

.motor-busqueda_container .motor-busqueda .motor-busqueda_submit-container {
  padding: 6px;
  border: 1px solid rgba(222, 226, 230);
  background-color: white;
  border-left: 0;
  max-height: 57.6px;
}

.motor-busqueda_container .motor-busqueda .motor-busqueda_submit-container .motor-busqueda_submit {
  background-color: #FFAD4F;
  color: white;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  border: 0;
  height: 100%;
  padding: 0 22px;
  cursor: pointer;
}

.motor-busqueda_container .motor-busqueda .motor-busqueda_submit-container .motor-busqueda_submit:hover {
  background-color: #ff9114;
}

/* Motor de búsqueda abierto */
.motor-busqueda_container.open {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,.8);
  padding: 20px;
}

.motor-busqueda_container.open .btn-close_container {
  display: flex;
}

.motor-busqueda_container.open .motor-busqueda {
  box-shadow: unset;
}

/* Dropdown de destinos y hoteles */
.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.hoteles-destinos {
  overflow-y: auto;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-destinos {
  margin: 0 0 12px 0;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-destinos h2.destino {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #323232;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  padding: 0 8px;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-destinos h3.ubicacion {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(91, 126, 150);
  text-transform: uppercase;
  margin: 0 0 5px 0;
  padding: 0 8px;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-destinos .hoteles-list {
  margin: 0 0 12px 0;
  padding: 0;
  list-style: none;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-destinos .hoteles-list li.hotel {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #323232;
  padding: 0 8px;
  cursor: pointer;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-destinos .hoteles-list li.hotel.no-hotel {
  color: #9B9B9B;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-destinos .hoteles-list li.hotel:hover {
  background-color: rgba(242,242,242);
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-destinos .hoteles-list li.hotel.no-hotel:hover {
  background-color: unset;
  cursor: default;
}

/* Dropdown calendario */
.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.calendar {
  position: relative;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-calendar {
  position: absolute;
  top: 0;
  background-color: white;
  width: 712px;
  transform: translateX(-25%);
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-calendar .calendar-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  font-size: 14px;
}

/* Componente de date range picker React date range */
.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-calendar .calendar-body .rdrDefinedRangesWrapper,
.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-calendar .calendar-body .rdrDateRangeWrapper .rdrDateDisplayWrapper {
  display: none;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown .dropdown-calendar .calendar-body .rdrDateRangeWrapper .rdrMonthAndYearWrapper {
  padding-top: unset;
}

/* Dropdown ocupacion */
.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion .habitacion .habitacion_header {
  display: flex;
  align-items: center;
  gap: 12px;
  text-transform: uppercase;
  padding: 0;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion .habitacion .habitacion_body {
  margin: 6px 0;
  padding: 0;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion .habitacion .habitacion_body .selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.motor-busqueda_container .motor-busqueda .busqueda .busqueda_dropdown.ocupacion .habitacion .habitacion_body .selector .contador {
  display: flex;
  align-items: center;
  gap: 6px;
}